{% extends 'base.html.jinja' %}

{% block content %}
<h1>{% block title %} Mi lista de contactos {% endblock %}</h1>
    <ul>
        {% for contacto in contactsList %}
        <li>
           <!--<a href="contactDetail/{{contacto}}">{{ contacto.nombre }}</a>-->
           <a href="{{url_for('contactDetail', index=loop.index0)}}">{{ contacto.nombre }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
