{% extends 'base.html.jinja' %}

{% block content %}
<h1>{% block title %} Mi lista {% endblock %}</h1>
    <ul>
        {% for element in elementsList %}
        <li>
           Nombre: {{ element.nombre }} Edad: {{ element.edad }} <a href="/{{element._id}}">Detalle<a/> <a href="/update/{{element._id}}">Modificar<a/> <a href="/delete/{{element._id}}">Eliminar</a>
        </li>        
        {% endfor %}
    </ul>
{% endblock %}
