{% extends 'base.html.jinja' %}

{% block content %}

    <h1> {% block title %} About me {% endblock %}</h1>
    <p>Mi nombre es Abner Saavedra. Soy desarrollador de software.</p>
{% endblock %}