<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{url_for('about')}}">About me</a>
        <a href="{{url_for('messages')}}">Messages</a>
        <a href="{{url_for('contact')}}">Contac me</a>
    </nav>
    {%for message in messages%}
    {%endfor%}
   <div class="content">
    {% block content %} {% endblock %}
   </div> 
</body>
</html>