<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html.jinja'%}



{% block content %}
<h1>{%block title%} Cuiculum Vitae {%endblock%} </h1>

<class= "{content}">
<h2>Lino Paul Benavides Gabaldon <h2>
<p>Correo eléctronico: linobenavidesgabaldon@gmail.com</p>
<p>Teléfono: 04121175910</p>
<p>Dirección: Barquisimeto, Urb Colinas de Santa Rosa, Carrera 13, Casa 11-48.</p>


<class= "">
<h3>Experiencia Laboral <h3>
<p>Boom Solutions</p>
<p>Desarrollador de software <br>
   2025-2028
</p>

<class= "">
<h3>Formación académica <h3>
<p>Bachiller <br>
U.E.Colegio San Lázaro, Cumaná, Edo Sucre <br>
Octubre 2015 - Junio 2020. </p>

<class= "">
<p>Desarrollo de Software <br>
Gracosoft, Barquisimeto, Edo Lara
Abril 2022 - 2025</p>


<class= "{content}">
<h3>Habalidades <h3>
<p>Habilidades en el uso de computadoras</p>
<p>Fluidez y agilidad en redacción de documentos.</p>
<p>Responsable y perseverante</p>
<p>Manejo  de redes sociales</p>
<p>Excelente comunicación.</p>
<p>Manejo de las aplicaciones  Microsoft  Word, Power Point y Excel. </p>

{% endblock %}
</body>
</html>