{% extends 'base.html.jinja' %}



{% block content %}

    <header>
        <img src="static/img/Icono.png" alt="Logo">
    </header>

    
    <div class="banner">
        <img class="Banner_img" src="static/img/Banner_1.png" alt="Banner_1"> 
    </div>
    
    


    <h1 class="titulo"> {% block title %} Agregue una materia {% endblock %}</h1>

    


        <form class method="POST" Content-Type='application/json'>

            <article>

            <div>
                <label for="nombre">Nombre: </label><br>
                <input type="text" class="form-control" name="nombre" 
                placeholder="Nombre"
                value="{{ request.form['nombre'] }}">
                <br>
            </div> 
            <div>
                <label for="apellido">Apellido: </label><br>
                <input type="text" class="form-control" name="apellido" 
                placeholder="Apellido"
                value="{{ request.form['apellido'] }}">
                <br>
            </div>
            <div>
                <label for="cedula">Cédula: </label><br>
                <input type="number" class="form-control" name="cedula" 
                placeholder="Cedula"
                value="{{ request.form['cedula'] }}">
                <br>
            </div>
            <div>
                <label for="materia">Materia: </label><br>
                <input type="text" class="form-control" name="materia" 
                placeholder="Materia"
                value="{{ request.form['materia'] }}">
                <br>
            </div>
            <div>
                <label for="objetivo">Objetivo: </label><br>
                <input type="text" class="form-control" name="objetivo" 
                placeholder="Objetivo"
                value="{{ request.form['objetivo'] }}">
                <br>
            </div>
            <div>
                <label for="duracion">Duración en horas: </label><br>
                <input type="number" class="form-control" name="duracion" 
                placeholder="Duracion"
                value="{{ request.form['duracion'] }}">
                <br>
            </div>
            <div>
                <label for="nota">Nota: </label><br>
                <input type="text" class="form-control" name="nota" 
                placeholder="Nota"
                value="{{ request.form['nota'] }}">
                <br>
            </div>
            <input div="formcenter" type="submit" value="Submit">
        </form>
        </article>

        <footer class="footer">
        <p> Derechos protegidos por Bank DavNo C.A., Banco Universal</p> 
    </footer>


{% endblock %}
</html>